{% extends 'PricemaniaRegistrationBundle::base.html.twig' %}

{% block pricemania_registation_content %}

    <h2>Put your data here...</h2>

    {{ form_start(registration_form) }}
    <div class="form-group">
        {{ form_label(registration_form.firstname) }}
        {{ form_widget(registration_form.firstname, { attr: {class: 'form-control', 'placeholder': 'Enter firstname'} }) }}
        {{ form_errors(registration_form.firstname) }}
    </div>
    <div class="form-group">
        {{ form_label(registration_form.lastname) }}
        {{ form_widget(registration_form.lastname, { attr: {class: 'form-control', 'placeholder': 'Enter lastname'} }) }}
        {{ form_errors(registration_form.lastname) }}
    </div>
   <div class="form-group">
        {{ form_label(registration_form.birthdate) }}
        {{ form_widget(registration_form.birthdate, { attr: {class: 'form-control', 'placeholder': 'Enter birthdate'} }) }}
        {{ form_errors(registration_form.birthdate) }}
    </div>
     <div class="form-group">
        {{ form_label(registration_form.email) }}
        {{ form_widget(registration_form.email, { attr: {class: 'form-control', 'placeholder': 'Enter email'} }) }}
        {{ form_errors(registration_form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(registration_form.plainPassword.first) }}
        {{ form_widget(registration_form.plainPassword.first, { attr: {class: 'form-control', 'placeholder': 'Enter password'} }) }}
        {{ form_errors(registration_form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(registration_form.plainPassword.second) }}
        {{ form_widget(registration_form.plainPassword.second, { attr: {class: 'form-control', 'placeholder': 'Repeat password'} }) }}
    </div>




    <button type="submit" class="btn btn-default">Submit</button>
    {{ form_end(registration_form) }}
{% endblock %}
